WeatherNotificationBot.json
{
  "name": "WeatherNotificationBot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9554a072-2b60-4f21-a1ee-a7547b9bb915",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Mumbai&appid=(API_KEY)&units=metric",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "966e4e22-d1c5-4e1d-9e33-be57f50a9bce",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d466af44-26af-4457-9539-fc2ac73036bf",
              "name": "Temperature ",
              "value": "={{ $json.main.temp }}",
              "type": "string"
            },
            {
              "id": "293a209f-4776-46c2-b8b1-ef65e8244615",
              "name": "Condition",
              "value": "={{ $json.weather[0] }}",
              "type": "string"
            },
            {
              "id": "c4e07cb4-c138-4ee1-9e3b-f816354dbd72",
              "name": "City",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "bd331be0-677e-40a6-889f-c5475edc3a5e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "YourChatID",
        "text": "=🌤️ Weather Update for Mumbai:  \nTemperature: {{$json.main.temp}}°C   \nFeels Like: {{$json.main.feels_like}}°C   \nHumidity: {{$json.main.humidity}}%   \nWeather: {{$json.weather[0].description}}  \n\nHave a great day! ☀️",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        0
      ],
      "id": "7792e372-86c2-48a0-94e0-e476d42ccb63",
      "name": "Telegram",
      "webhookId": "60808e2f-2f54-477c-98c5-b71df5750de9",
      "credentials": {
        "telegramApi": {
          "id": "F81CASPj67RkpnI1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5b884d2-33de-45a1-9fcc-baa51011a52b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8165fdb40026658032009a0d1fa4414c8a803bca194bfbf9c9bd83390f574456"
  },
  "id": "tc4kzZXlgElHM5eK",
  "tags": []
}